<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/createpost.css">
</head>
<body>
    <h1>Create a new Post</h1>
    <form action="http://localhost:8080/posts/new" method="post">
        <input type="text" name="username" id="username" placeholder="Author Name"> <br>
        <textarea name="content" id="content" cols="31" rows="10" placeholder="Enter Content"></textarea> <br>
        <button type="submit">Create Post</button>
    </form>
</body>
</html>