form{
    background-color: black;
    color: white;
    padding: 20px;
    font-size: medium;
    font-weight: bold;
}
form input{
    margin: 10px;
    font-size: large;
    font-weight: bold;
}
form textarea{
    margin: 10px;
}
form button{
    border-radius: 15px;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}
form button:hover{
    cursor: pointer;
    background-color:antiquewhite;
}

